.popup__container {
    position: relative;
    min-width: 430px;
    min-height: 330px;
    z-index: 11;
    margin: 195px auto auto;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .popup__container {
        min-width: 282px;
        min-height: 322px;
        margin-top: 123px;
    } 
}