.profile__info_name {
    margin: 0 0 16px 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .profile__info_name {
        margin: 0 auto 14px;
        font-size: 27px;
        line-height: 32.68px;
  }
}