.popup__container_submit {
    margin: 48px 36px 37px;
    background-color: black;
    min-width: 358px;
    min-height: 50px;
    display: flex;
    align-items: center;
    transition: opacity 0.5s;
}

.popup__container_submit:hover {
    opacity: 80%;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .popup__container_submit {
        margin: 42px 22px 25px;
        min-width: 234px;
        min-height: 46px;
    } 
}