.popup__container_submit {
    margin: 18px 36px 37px;
    background-color: black;
    min-width: 358px;
    min-height: 50px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    transition: opacity 0.5s;
}

.popup__container_submit:hover {
    opacity: 80%;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .popup__container_submit {
        margin: 12px 22px 25px;
        min-width: 234px;
        min-height: 46px;
        font-size: 14px;
        line-height: 16.94px;
    } 
}
