.popup__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    margin: 0 auto auto 0;
    border: 0;
}

.popup__text::-webkit-input-placeholder {color:#000000;}
.popup__text::-moz-placeholder          {color:#000000;}
.popup__text:-moz-placeholder           {color:#000000;}
.popup__text::-ms-input-placeholder     {color:#000000;}
.popup__text:-ms-input-placeholder      {color:#000000;}